body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightblue;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  font-size: 40px;
  background: #702121;
  color: #fff;
}
